

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}



header {
    display: flex;
    background-color: rgb(53, 52, 52);
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 3px 8px rgb(98, 23, 197);
    justify-content: space-between;
    font-size: 20px;
    
}

#links {
    display: flex;


    
}

#links li {
    align-items: center;
    
}


nav {
    display: flex;
}

#nav-title {
   margin-left: auto;
   font-size: 1.5em; 
   color: azure;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    justify-content: flex-end;
    text-decoration: none;
    color: azure;
    transition: all 1s;
    padding: 14px 16px;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: rgb(98, 23, 197);
    color: white;
}

#title {
    color: #f2f2f2;
    text-align: center;
    font-style: italic;
    padding: 50px;
    font-size: 80px;
    
    }

#title-1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
    text-align: center;
    padding: 50px;
   
}

.me {
    display: flex;
}

@keyframes spin3D {
    from { transform: rotateY(0deg);}
    to { transform: rotateY(360deg);}
    
}

.me {
    justify-content: center;
    padding: 20px 0 0 0;
}

#gallery1 {
    display: flex;
    justify-content: center;

    
}

.me:hover {
    animation-name: spin3D;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;

}


#gallery2 {
    display: flex
}

#gallery1 li {
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}


#overlay1 {
    position: absolute;
    top: 475px;
    left: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: black;
    backdrop-filter: blur(8px) brightness(80%);
    opacity: 1;
    
  }

  #overlay2 {
    position: absolute;
    top: 825px;
    left: auto;
    padding: 1rem 3.3rem 1rem 3.1rem ;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: black;
    backdrop-filter: blur(8px) brightness(80%);
    opacity: 1;
    
  }

  #overlay3 {
    position: absolute;
    top: 475px;
    left: auto;
    padding: 1rem 1rem 1rem 0.6rem ;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: black;
    backdrop-filter: blur(8px) brightness(80%);
    opacity: 1;
    
  }


  #overlay4 {
    position: absolute;
    top: 825px;
    left: auto;
    padding: 1rem 4rem 1rem 5rem ;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color: black;
    backdrop-filter: blur(8px) brightness(80%);
    opacity: 1;
    
  }

main {
    display: flex;
    padding-right: 700px;
    justify-content: center;
    
}
    

.card {
    
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

.card-front,
.card-back {
    
    width: 25%;
    height: 25%;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(180deg);
}

.card:hover .card-back {
    transform: rotateY(0);
}

#main1 {
    display: flex;
    justify-content: center;
}
 
form {
    display: flex;
    flex-direction: column;
    
}

#name, #email {
    width: 200px;
 
    
}

input, button, textarea {
    margin: 5px;
    
}

#submit {
    width: 100px;
    align-self: center;
    
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background: #111;
    height: auto;   
    padding-top: 5px;
    color: #fff;
    box-shadow: 0 3px 8px rgb(98, 23, 197);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.links li {
    align-items: center;
    transition: all 1s;
    margin: 0 10px;
 
}

.links li:hover {
    transition: all 1s;
    transform: scale(1.3);
    
}


#footer {
    position: sticky;
}